<p>{{ current_user }}'s albums</p>
{% if user_albums %}
    <ul>
    {% for album in user_albums %}
        <a href="{% url 'imagr_app:album_page' album.id %}">{{ album.title }}</a>
        <br>
        <img class="photo" src="{{ album.cover.url }}" width="150" height="100">
        <br><br>
    {% endfor %}
    </ul>
{% else %}
    <p>You have no albums</p>
{% endif %}

<a href="{% url 'imagr_app:submit_photo' %}">Upload Photo</a>
<br><br>
<a href="{% url 'imagr_app:create_album' %}">Create Album</a>
<br><br>
<a href="{% url 'imagr_app:followers' %}">Manage Friends</a>
<br><br>
<a href="{% url 'imagr_app:stream' %}">Stream Page</a>