
{% if list_of_albums %}
    <ul>
    {% for album in list_of_albums %}
        <!-- stripping the hrefs makes this page successfully display
        the image stored in the photo referenced by the album's cover
        link; in other words, the <img src= ... album.cover.image_url ... >
        part WORKS on its own. -->
        <li><a href="{% url 'imagr_app:index_page' album.id %}"><img src="{{ album.cover.image_url }}" height="128" width="128"></a></li>
        <li><a href="{% url 'imagr_app:index_page' album.id %}">{{ album.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>You haven't made any albums yet.</p>
{% endif %}