<h3>Photo Details</h3>

{% if this_photo %}
    <img src="{{ this_photo.image_url }}">
    <br>
    {{ this_photo.title }}
    {{ this_photo.description }}
    <br><br>
{% else %}
    <p>Photo {{ this_photo.id }} not found at {{ this_photo.image_url }}.</p>

<br><br>
{% for each_album_id in this_photo.album_id_list %}
    <a href="{% url 'imagr_app:album_page' each_album_id %}">Back to Album #{{ each_album_id }}</a>
{% endfor %}

{% endif %}
<br><br>
<a href="{% url 'imagr_app:home_page' %}">Return Home</a>
