<h3>Photo Details Page</h3>

{% if this_photo %}
    <h3>Photo:</h3>
    <img src="{{ this_photo.image_url }}">
    <br>
    <h3>Title:</h3>
    {{ this_photo.title }}
    <br>
    <h3>Description:</h3>
    {{ this_photo.description }}
    <br>
    <br>
    {% if this_photo_edit_form %}
        <br>
        <h3>Edit Photo:</h3>
        <br>
        {% if context_string %}
            <br>
            <h2>{{ context_string }}</h2>
            <br>
        {% endif %}
        <form method="post" action="">
            {% csrf_token %}
            {{ this_photo_edit_form }}
            <br><br>
            <input type="submit" value="Edit Photo">
        </form>

    {% endif %}
    <br>
    <form action="{% url 'imagr_app:delete_photo' this_photo.id %}">
        {% csrf_token %}
        <input type="submit" value="Delete Photo">
    </form>


{% else %}
    <p>Photo #{{ this_photo.id }} not found at {{ this_photo.image_url }}.</p>
<br>
<br>
{% endif %}
<br>
<br>
<a href="{% url 'imagr_app:home_page' %}">Return Home</a>
